@page "/usuario"
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoRegistrarUsuario casoDeUsoRegistrarUsuario

<input placeholder="Nombre" @bind="_usuario.Nombre" class="form-control">
<input placeholder="Apellido" @bind="_usuario.Apellido" class="form-control">
<input placeholder="Correo" @bind="_usuario.Correo" class="form-control">
<input placeholder="Contraseña" @bind="_usuario.Contraseña" class="form-control">
<input placeholder="direccion" @bind="_usuario.Direccion" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    Usuario _usuario = new Cliente();
    void Aceptar()
    {
        Navegador.NavigateTo("listadoUsuario");
    }
}