@page "/Contactos"
<div class="redes-container">
    <h2 class="titulo">Nuestras Redes</h2>

    <div class="redes-grid">
        <div class="red">
            <img src="images/logos/facebookLogo.png" alt="Facebook" />
            <a href="https://www.facebook.com" target="_blank"class="links">Facebook</a>
        </div>

        <div class="red">
            <img src="images/logos/insta.png" alt="Instagram" />
            <a href="https://www.instagram.com" target="_blank"class="links">Instagram</a>
        </div>

        <div class="red">
            <img src="images/logos/whatsappLogo.png" alt="WhatsApp" />
            <u class="links">+2314-487091</u>
        </div>
    </div>
</div>


