@page "/Principal"

<div class="seccion-propiedades">
    <div class="texto-lateral">
        <h2>Encontra tu<br />propiedad ideal</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        <button class="btn-mas">Mas</button>
    </div>

    <div class="galeria-propiedades">
        <img src="images/Inicial_1.jpg" class="miniatura activa" alt="Propiedad 1" />
        <img src="images/Inicial_2.jpg" class="miniatura" alt="Propiedad 2" />
        <img src="images/Inicial_3.jpg" class="miniatura" alt="Propiedad 3" />
    </div>
</div>