@page "/"
@inject IRepositorioFoto repositorioFotos
@inject FiltroDeInmueblesService FiltroDeInmueblesService
@inject CasoDeUsoListarInmuebles casoDeUsoListarInmuebles
@using Alquileres_Express.Aplicacion.Servicios;
@rendermode InteractiveServer

<PageTitle>Inmuebles</PageTitle>

<PageTitle>Inmuebles</PageTitle>

<div class="contenedor-principal">
    <!-- COLUMNA IZQUIERDA: IMÃGENES -->
    <div class="columna-imagenes">
        <h2>Propiedades</h2>
        @if (inmuebles == null || !inmuebles.Any())
        {
            <p>No hay inmuebles disponibles.</p>
        }
        else
        {
            <div class="galeria-imagenes">
                @foreach (var inmueble in inmuebles)
                {
                    <div class="tarjeta-inmueble">
                        <NavLink class="imagen-link" href="@($"/inmueble/{inmueble.Id}")">
                            <img src="@inmueble.Fotos[0].Url" alt="Foto propiedad" class="foto" />
                        </NavLink>
                        <div class="info-inmueble">
                            <p class="nombre">@inmueble.Nombre</p>
                            <p class="precio">$@inmueble.Precio</p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>

    <!-- COLUMNA DERECHA: FILTROS -->
    <div class="columna-filtros">
        <h2>Ordenar</h2>
        <select><option>Localidad</option></select>
        <select><option>Precio</option></select>
        <select><option>Cantidad de personas</option></select>
        <select><option>Mejor valoradas</option></select>
    </div>
</div>


@code
{
    private List<Inmueble> inmuebles = new List<Inmueble>();
    private Filtro<Inmueble> filtroPrecio = new Filtro<Inmueble>();
        protected override void OnInitialized()
    {
        inmuebles = casoDeUsoListarInmuebles.Ejecutar();
       
    }
}
